@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.projectName{
    width: 400px;
    height: 70px;

    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    width: 97%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.4);
    box-shadow: 0px 0px 100px -40px rgb(94, 94, 94);

    border-radius: 30px;

    box-sizing: border-box;
    
}

.text{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 15px;
}

.title{
    margin-bottom: 15px;
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
}

.paragraph{
    font-family: 'Nunito';
}

.stackContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stackIcons{
    width: 300px;
    
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
}

.iconContainer{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px -2px rgb(116, 116, 116);
    transition: transform .2s;
}

.iconContainer img{
    width: 80px;
    display: inline;
}

.iconContainer:hover{
    transform: scale(1.1) rotate(-5deg);
    transition: transform .2s;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}